<form method="post" action="/albums/<%= @album.id %>/edit">
  <label for="title">Title:</label>
  <input id="title" type="text" name="title" value =<%=@album.title %> />
  <br/>
  
  <label for="artist_id">Artist:</label>
 <select id="artist_id" name="artist_id">
   <% @artists.each do |artist|  %>
   <option value = <%= artist.id %>> <%= artist.name %> </option>
   <%end%>
 </select>
   <br/>

  <label for="genre_id">Genre:</label>
  <select id="genre_id" name="genre_id">

  <% @genres.each do |genre|  %>
  <option value = <%= genre.id %>> <%= genre.type %> </option>
  <%end%>
  </select>
  <br/>

  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity" value =<%=@album.quantity %>/>
  <br/>

  <label for="buy_price">Buy Price:</label>
  <input id="buy_price" type="number" name="buy_price" value =<%=@album.buy_price %>/>
  <br/>

  <label for="album_artwork">Album Artwork URL:</label>
  <input id="album_artwork" type="text" name="album_artwork" value =<%=@album.album_artwork %>/>
  <br/>
  <input type="submit" value="Edit Album"/>

</form>