<h1>Albums</h1>
<br/>
<p><a href='/albums/new'> New Album</a></p>
<br/>
<hr/>

<table style="width:100%">
  <tr>
    <th><strong>Title</strong></th>
    <th><strong>Artist</strong></strong></th> 
    <th><strong>Genre</strong></th>
    <th><strong>Quantity</strong></th>
    <th><strong>Buy Price</strong></th>
    <th><strong>Sell Price</strong></th>
    <th><strong>Profit</strong></th>
    <th><strong>Stock Levels</strong></th>
    <th><strong>Album Artwork</strong></th>
  </tr>
  <tr>
  <% for album in @albums %>
    <td><%= album.title() %></td>
    <td><%= album.artist.name() %></td> 
    <td><%= album.genre.type() %></td>
    <td><%= album.quantity() %></td>
    <td><%= album.buy_price() %></td>
    <td><%= album.sell_price() %></td>
    <td><%= album.profit() %></td>
    <td><%= album.stock_levels() %></td>
    <td><img src= <%= album.album_artwork %> width=15% /></td>
    <td><form method="post" action="/albums/<%= album.id %>/edit/sell"><input id="quantity" type="number" name="quantity" /><input type="submit" value="Sell Album"/></a></form></td>
    <td> <a href='/albums/<%= album.id %>'> <button class="showbtn">Show</button></a></td>
    <td> <a href='/albums/<%= album.id %>/edit'> <button class="editbtn">Edit</button></a></td>
    <td><form method="post" action="/albums/<%= album.id %>/delete">
 <input type="submit" value="Delete Album"/>
 </form></td>
  </tr>

  <%end%>
</table>

<hr/>

<% @albums.each do |album| %>
  <p><strong>Title:</strong> <%= album.title() %> </p>
  <p><strong>Artist:</strong> <%= album.artist.name %> </p>
  <p><strong>Genre:</strong> <%= album.genre.type %> </p>
  
  <form method="post" action="/albums/<%= album.id %>/edit/sell">
  <input id="quantity" type="number" name="quantity" />
  <input type="submit" value="Sell Album"/>
  <br/>
  <br/>

  <img src= <%= album.album_artwork %> width=5% />


  <p><a href='/albums/<%= album.id %>'> Show Album</a></p>
  <p><a href='/albums/<%= album.id %>/edit'> Edit Album</a></p>
 <form method="post" action="/albums/<%= album.id %>/delete">
 <input type="submit" value="Delete Album"/>
 </form>

  <hr/>
<% end %>
