<h1> Album </h1>

  <p>Title: <%= @album.title %> </p>
  <p>Artist: <%= @album.artist.name %> </p>
  <p>Genre: <%= @album.genre.type %> </p>
  <p>Quantity: <%= @album.quantity %> </p>
  <p>Buy Price: £<%= @album.buy_price %> </p>
  <p>Album Artwork: <%= @album.album_artwork %> </p>



  <form method="post" action="/albums/<%= @album.id %>/delete">
  <input type="submit" value="Delete Album"/>
  </form>

  <form method="get" action="/albums/<%= @album.id %>/edit">
  <input type="submit" value="Edit Album"/>

  </form>

  <hr/>